{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock title %}
{% block content %}

                    <div class="card overflow-hidden">
                        <div class="bg-primary">
                            <div class="text-primary text-center p-4">
                                <h5 class="text-white font-size-20">Password Reset</h5>
                                <p class="text-white-50">Get your free Veltrix account now.</p>
                                <a href="{% url 'dashboard' %}" class="logo logo-admin">
                                    <img src="{% static 'images/logo-sm.png' %}" height="24" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="p-lg-5 p-4 text-center">
                            <div class="mt-4">
                                <h4>{% trans "Password Reset" %}</h4>
                                {% if user.is_authenticated %}
                                {% include "account/snippets/already_logged_in.html" %}
                                {% endif %}
                                <p class="text-muted mx-4">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                                <div class="mt-4">
                                    <a href="{% url 'dashboard' %}" class="btn btn-success w-100">Back to Dashboard</a>
                                </div>
                            </div>
                        </div>    
                    </div>
{% endblock content %}
    