{% load static %}
{% block footer %}

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                ©
                <script>document.write(new Date().getFullYear())</script> Ai Learning Academy <span class="d-none d-sm-inline-block">
                    - Crafted with <i class="mdi mdi-heart text-danger"></i> Ai Learning Academy for 1 Lack Digital Nomads in Malappuram</span>
            </div>
        </div>
    </div>
</footer>


{% endblock %}